@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-grey: #707070;
  --clr-blue: #6C63FF;
  --clr-blue-2: #4c46b6;
  --clr-green: #4fb646;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 20px;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__brand img {
  max-width: 100px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: clamp(1.5em, 5vw, 2.5em);
  font-weight: 800;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__links li {
  margin: 0 10px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-black);
  font-size: clamp(0.9em, 2vw, 1em);
}

.nav__links li a:hover {
  color: var(--clr-blue);
}

.nav__connect {
  width: 175px;
  max-width: 90%;
  height: 50px;
  margin: 0 auto;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-size: clamp(0.9em, 2vw, 1.1em);
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-image: url("./assets/houses.png");
  background-position: center;
  background-size: cover;
  min-height: 40vh;
  position: relative;
}

.header__title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-white);
  font-size: clamp(1.5em, 5vw, 2em);
  text-align: center;
  width: 90%;
}

.header__search {
  padding: 15px 20px;
  width: clamp(250px, 40%, 500px);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(0.9em, 1.5vw, 1.25em);
  font-weight: 600;
}

.header__search::placeholder {
  font-family: "Open Sans";
}

.header__search:hover {
  outline: 1px solid var(--clr-blue);
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cards__section h3 {
  margin: 50px 0 20px;
  font-size: clamp(1.5em, 3vw, 2em);
}

.cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  border: 1px solid var(--clr-black);
  cursor: pointer;
  position: relative;
  transition: all 250ms ease;
  overflow: hidden;
}

.card:hover {
  box-shadow: 1px 1px 5px var(--clr-grey);
}

.card__image img {
  width: 100%;
  height: auto;
  display: block;
}

.card__info {
  background-color: var(--clr-white);
  padding: 10px;
}

.card__info h4 {
  font-size: clamp(1em, 2vw, 1.25em);
  font-weight: 600;
}

.card__info p {
  font-size: clamp(0.8em, 1.5vw, 0.9em);
  margin-top: 5px;
}

/* ------------------------------------------------------ */
/* -- HOMES -- */

.home {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: var(--clr-white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.home__image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.home__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.home__close img {
  width: 25px;
  height: 25px;
}

.home__overview {
  margin: 0 20px;
  padding-right: 20px;
  max-height: 70vh;
  overflow-y: auto;
}

.home__overview h1,
.home__overview h2,
.home__overview hr {
  margin: 10px auto;
}

.home__overview ul {
  margin-left: 20px;
}

.home__buy,
.home__contact,
.home__owned {
  margin: 10px 5px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
  font-size: clamp(0.9em, 1.5vw, 1.1em);
}

.home__buy {
  width: 100%;
  max-width: 225px;
  height: 50px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.home__buy:hover {
  background-color: var(--clr-blue-2);
}

.home__contact {
  width: 100%;
  max-width: 150px;
  height: 50px;
  background-color: transparent;
  color: var(--clr-blue);
  border: 1px solid var(--clr-blue);
}

.home__contact:hover {
  background-color: #f7f7f7;
  color: var(--clr-blue-2);
}

.home__owned {
  height: 50px;
  background-color: var(--clr-green);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

/* ------------------------------------------------------ */
/* -- MEDIA QUERIES -- */

@media screen and (max-width: 916px) {
  .header__title {
    font-size: clamp(1.3em, 4vw, 1.8em);
    
  }
  .nav{
    padding: auto;
  }
  .nav__links{
    padding-right: 90px;
  }
  .nav__connect{
  margin-left: 0.01px;
  }
  .header__search{
    cursor: pointer;
     margin-left:1px;
    
  }
  .nav__brand{
    /* margin-right: 100px; */
    padding-right: 40px;
  }
}

@media screen and (max-width: 860px) {
  .header__title {
    font-size: clamp(1.3em, 4vw, 1.8em);
    
  }
  .nav{
    padding: auto;
  }
  .nav__links{
    padding-right: 90px;
  }
  .nav__connect{
  margin-left: 0.01px;
  }
  .header__search{
    cursor: pointer;
     margin-left:1px;
    
  }
  .nav__brand{
    /* margin-right: 100px; */
    padding-right: 40px;
  }

}

@media screen and (max-width: 760px) {
  .header__title {
    font-size: clamp(1.3em, 4vw, 1.8em);
    
  }
  .nav{
    padding: auto;
  }
  .nav__links{
    padding-right: 90px;
  }
  .nav__connect{
  margin-left: -80px;
  }
  .header__search .header__title{
    cursor: pointer;
    width: 80%;
  }
  
  .nav__brand{
    margin-right: 100px
  }

}

@media screen and (max-width: 506px) {
  header{
    margin-left:20px
  }
  .header__title {
    font-size: clamp(1.3em, 4vw, 1.8em);
    
  }
  .nav{
    padding: auto;
  }
  .nav__links{
    padding-right: 90px;
  }
  .header__search .header__title{
    cursor: pointer;
    width: 80%;
  }
  
  .nav__brand{
    margin-right: 100px
  }
  
}
